<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
    width: 960px;
}

text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

form {
    position: absolute;
    right: 10px;
    top: 10px;
}

</style>
</head>
<body>
<form>
    <label><input type="radio" name="mode" value="percent"> Percent</label>
    <label><input type="radio" name="mode" value="grouped"> Grouped</label>
    <label><input type="radio" name="mode" value="stacked" checked>
Stacked</label>
</form>
<script src="//d3js.org/d3.v4.min.js"></script>
<script src='https://d3js.org/d3.v4.min.js'></script>
<script src='https://d3js.org/d3-queue.v2.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"
integrity="sha384-FZY+KSLVXVyc1qAlqH9oCx1JEOlQh6iXfw3o2n3Iy32qGjXmUPWT9I0Z9e9wxYe3"
crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js'></script>

<script>

function runqueue() {
    const queue = d3_queue.queue();

    queue
      .defer(d3.json, '/plotapi')
      .await(render);
    return false;
}

function render(error, data) {
    const colors = [ '#2ca02c', '#47cc47', '#7fc97f',  '#98abc5', '#d0743c', '#ff8c00', '#CD4638', '#ccc',]

  
    var n = 4, // number of layers
        m = 58, // number of samples per layer
        stack = d3.stack();

    var formatPercent = d3.format(".0%");
    var formatNumber = d3.format("");
    var layers = stack.keys(d3.range(n))(data.values),
        yStackMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d[1]; }); }), 
        yGroupMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d[1] - d[0]; }); });

    var margin = {top: 40, right: 10, bottom: 20, left: 35},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var x = d3.scaleBand()
        .domain(d3.range(m))
        .rangeRound([0, width])
        .padding(0.1)
        .align(0.1);


    var y = d3.scaleLinear()
        .domain([0, yStackMax])
        .rangeRound([height, 0]);

    const color = d3.scaleOrdinal()
        .domain(d3.range(n))
        .range(colors.slice(0, 4)); // greens

    var z = d3.scaleOrdinal()
           .range(colors)


    var xAxis = d3.axisBottom()
        .scale(x)
        .tickSize(0)
        .tickPadding(6);

    var yAxis = d3.axisLeft()
        .scale(y)
        .tickSize(2)
        .tickPadding(6);

    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var layer = svg.selectAll(".layer")
                   .data(layers)
                   .enter().append("g")
                   .attr("class", "layer")
                   .attr("id", function(d) { return d.key; })
                   .style("fill", function(d, i) { return color(i); });

    var rect = layer.selectAll("rect")
                    .data(function(d) { return d; })
                    .enter().append("rect")
                    .attr("x", function(d, i) { return x(i); })
                    .attr("y", height)
                    .attr("width", x.bandwidth())
                    .attr("height", 0);

    const g = svg.append('g').attr('transform', `translate(${margin.left},${margin.top})`);

    var legend = g.append('g')
                  .attr('font-size', 12)
                  .attr('text-anchor', 'end')

    legend.append('text')
          .text('Tasks')
          .attr('x', width-10)
          .style('font-weight', 'bold')
          .attr('dy', 0)
          .attr('dx', -10);

    d3.selectAll('input').on('change', changed);

    var legendEnter = legend.selectAll('g')
                            .data(data.indexes)
                            .enter().append('g')
                            .attr('transform', function (d, i) { return 'translate(0,' + i * 20 + ')' 
                                              }).on("click", toggleSeries);

    legendEnter.append('rect')
               .attr('dy', 10)
               .attr('x', width - 42)
               .attr('y', 10)
               .attr('width', 19)
               .attr('height', 19)
               .attr('fill', z);

    legendEnter.append('text')
               .attr('x', width - 46)
               .attr('y', 20)
               .attr('dy', '0.32em')
               .text(d => d);


    rect.transition().delay(function(d, i) {return i * 10; })
                     .attr("y", function(d) { return y(d[1]); })
                     .attr("height", function(d) { return y(d[0]) - y(d[1]); });

    svg.append("g").attr("class", "x axis")
                   .attr("transform", "translate(0," + height + ")")
                   .call(xAxis);

    svg.append("g").attr("class", "y axis")
       .attr("transform", "translate(" + 0 + ",0)")
       .style("font-size", "10px")
       .call(yAxis);

    d3.selectAll("input").on("change", change);

    var timeout = setTimeout(function() {
             d3.select("input[value=\"grouped\"]").property("checked",true).each(change);
             setTimeout(function() {
                    d3.select("input[value=\"percent\"]").property("checked", true).each(change);
             }, 2000);
    }, 2000);

    function change() {
        clearTimeout(timeout);
        if (this.value === "grouped") transitionGrouped();
        else if (this.value === "stacked") transitionStacked();
        else if (this.value === "percent") transitionPercent();
    }

    function transitionGrouped() {
        y.domain([0, yGroupMax]);

        rect.transition()
            .duration(500)
            .delay(function(d, i) { return i * 10; })
            .attr("x", function(d, i, j) { return x(i) + x.bandwidth() / n *

        parseInt(this.parentNode.id); })
            .attr("width", x.bandwidth() / n)
            .transition()
            .attr("y", function(d) { return height - (y(d[0]) - y(d[1])); })
            .attr("height", function(d) { return y(d[0]) - y(d[1]); });

        yAxis.tickFormat(formatNumber)
        svg.selectAll(".y.axis").transition()
           .delay(500)
           .duration(500)
           .call(yAxis)
    }

    function transitionStacked() {
        y.domain([0, yStackMax]);

        rect.transition()
            .duration(500)
            .delay(function(d, i) { return i * 10; })
            .attr("y", function(d) { return y(d[1]); })
            .attr("height", function(d) { return y(d[0]) - y(d[1]); })
            .transition()
            .attr("x", function(d, i) { return x(i); })
            .attr("width", x.bandwidth());

        yAxis.tickFormat(formatNumber)
        svg.selectAll(".y.axis").transition()
            .delay(500)
            .duration(500)
            .call(yAxis)
    }

    function changed() {
        timeout.stop();
        if (this.value === 'grouped') transitionGrouped();
        else if (this.value === 'stacked') transitionStacked();
        else transitionPercent();
    }

    function toggleSeries() {
        return false;
    }

    function transitionPercent() {
        y.domain([0, 1]);

        rect.transition()
            .duration(500)
            .delay(function(d, i) { return i * 10; })
            .attr("y", function(d) {
                var total = d3.sum(d3.values(d.data));
                return y(d[1] / total); })
            .attr("height", function(d) {
                var total = d3.sum(d3.values(d.data));
                return y(d[0] / total) - y(d[1] / total); })
        .transition()
            .attr("x", function(d, i) { return x(i); })
            .attr("width", x.bandwidth());

        yAxis.tickFormat(formatPercent)

        svg.selectAll(".y.axis").transition()
           .delay(500)
           .duration(500)
           .call(yAxis);
    }
}




runqueue();
</script>
</body>
</html>

